{% set merged_users_dict = {} %}
{% set default_user_data_dict = {
    'uid': '',
    'gid': '',
    'usergroup': True,
    'groups': [],
    'home': '',
    'shell': '/bin/sh',
    'system': False,
    'fullname': '',
    'expire': -1,
  }
%}
{% set pillar_users = pillar.get('users')%}
{% for user_name, user_data_dict in pillar_users.items() %}
  {% do merged_users_dict.update({user_name:{} }) %}
  {% do merged_users_dict[user_name].update(salt["defaults.merge"](user_data_dict, default_user_data_dict, in_place=False)) %}
{% endfor %}

{% set users_ssh_generate = {} %}
{% for user_name, user_data_dict in merged_users_dict.items() %}
  {% if user_data_dict.ssh_auth is defined and not user_data_dict.ssh_auth.ssh_keys is defined %}
    {% do users_ssh_generate.update({user_name:user_data_dict})%}
  {% endif %}
{% endfor %}
